<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="/cadastrar" method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome"><br>
        <label>Email:</label><br>
        <input type="email" name="email"><br>
        <label>Senha:</label><br>
        <input type="password" name="senha"><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
